{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2>Question</h2>
<table class="table">
        {% for key, answer in selected_data.items() %}
        <tr><th>{{key}}</th><td>{{answer}}</td>
            {% if key == "id"%}
            {% endif%}
            {% endfor %}</tr>
</table>
    <h2>Answers</h2>
    <table class="table">
            {% for elem in passable_list %}
            {% for key, answer in elem.items() %}
        <tr><th>{{key}}</th><td>{{answer}}</td>
            {% endfor %}
            {% endfor %}</tr></table>
</div>

{% endblock %}