{% extends "layout.html" %}

{% block content %}

<div class="container text-center" style="padding-top:25px;">

    <h2>Question</h2>
    <hr>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>{{ selected_data.title }}</h3>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      {{ selected_data.message }}
    </div>
  </div>
    <br>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      {{ selected_data.submission_time }}
    </div>
      <div class="col-md-auto">
      {{ selected_data.vote_number }}
    </div>
      <div class="col-md-auto">
      {{ selected_data.view_number }}
    </div>
    <div class="col-md-auto">
      {{ owner.user_name }}
    </div>
    {% if owner.user_name == session["user_name"] or session["user_rank"] == 0 %}
    <div class="col-md-auto">
      <a href="{{ url_for('edit', type='question', id=question_id) }}">edit question</a>
    </div>
    {% endif %}
  </div>

    <h4 style="padding-top: 25px;">Answers</h4>
    <hr>
    {% if session['is_valid'] == True %}
    <a href="{{ url_for('add', type='answer', id=question_id) }}">add answer</a>
    {% endif %}
    {% if not passable_list %}
        <h3>No answers given yet</h3>
    {% else %}
    {% for answer in passable_list %}

      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h3>{{ answer.title }}</h3>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          {{ answer.message }}
        </div>
      </div>
        {% if not answer.image %}
        {% else %}
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
              {{ answer.image }}
            </div>
         </div>
        {% endif %}
        <br>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          {{ answer.submission_time }}
        </div>
          <div class="col-md-auto">
          {{ answer.vote_number }}
        </div>
          <div class="col-md-auto">
          {{ answer.view_number }}
        </div>
        <div class="col-md-auto">
          {{ answer.user_id }}
        </div>
        <div class="col-md-auto">
          {% if session['is_valid'] == True %}
          <a href="{{ url_for('add', type='comment', id=answer.id )}}">add comment</a>
          {% endif %}
          {% if answer.user_id == session["user_name"] or session["user_rank"] == 0 %}
          <a href="{{ url_for('edit', type='answer', id=answer.id) }}"> | edit answer | </a>
          <a href="{{ url_for('delete',type='answer', id=answer.id)}}">del</a>
          {% endif %}
        </div>
      </div>
      {% for comment in comment_data %}
      {% if comment.answer_id == answer.id %}
      <div class="row justify-content-md">
        <div class="col-md-auto align-content-center">
          {{comment.message}}
        </div>
        <div class="col-md-auto align-content-center">
          {{comment.user_id}}
        </div>
        {% if comment.user_id == session["user_name"] or session["user_rank"] == 0 %}
        <div class="col-md-auto">
          <a href="{{ url_for('edit', type='comment', id=comment.id) }}">edit | </a>
          <a href="{{ url_for('delete', type='comment', id=comment.id) }}">del</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
        <hr>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}