<!DOCTYPE html>
<html lang="en">
<head>
  <title>Display Question</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ask Mate by KEDD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/question/">Display Question</a></li>
        <li><a href="/">Home</a></li>
      <li><a href="/update/?id={{selected_data['id']}}">Edit Question</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h2>Question</h2>
<table class="table">
        {% for key, answer in selected_data.items() %}
        <tr><th>{{key}}</th><td>{{answer}}</td>
            {% if key == "id"%}
            {% endif%}
            {% endfor %}</tr>
</table>
    <h2>Answers</h2>
    <table class="table">
            {% for elem in passable_list %}
            {% for key, answer in elem.items() %}
        <tr><th>{{key}}</th><td>{{answer}}</td>
            {% endfor %}
            {% endfor %}</tr></table>
</div>
</body>
</html>
