{% extends "layout.html" %}

{% block content %}

<h2>Edit Answer</h2>
<form action="{{url_for('edit', type='answer', id=answer_id)}}" method="POST" name="edit-answer">
    <div class="form-group">
    <input type="hidden" name="id" value="{{updata['id']}}">
    <input type="hidden" name="submission_time" value="{{updata['submission_time']}}">
    <input type="hidden" name="vote_number" value="{{updata['vote_number']}}">
        <input type="hidden" name="question_id" value="{{updata['question_id']}}">
    <input type="hidden" name="image" value="{{updata['image']}}">
    <label>Message</label> <br>
    <textarea class="form-control" name="message" required="True" rows="4" cols="50">{{ updata["message"] }}</textarea> <br>
    <input type="submit" class="btn" required="True">
    </div>
</form>

{% endblock %}