{% extends "layout.html" %}

{% block content %}


<h2>Edit comment</h2>
<form action="{{url_for('edit', type='comment', id=comment_id)}}" method="post" name="edit-comment">
    <div class="form-group">
    <input type="hidden" name="id" value="{{updata['id']}}">
    <input type="hidden" name="submission_time" value="{{updata['submission_time']}}">
    <label>message</label> <br>
    <textarea class="form-control" name="message" required="True" rows="4" cols="50">{{ updata["message"]}}</textarea> <br>
    <input type="submit" class="btn" required="True">
    </div>
</form>

{% endblock %}