{% extends "layout.html" %}

{% block content %}

<table class="table">
    <tr>
        {% for title in table_titles %}
            <th>{{ title.capitalize() }}</th>
        {% endfor %}
        <th></th>
    </tr>
        {% for data in table_datas %}
    <tr>
        {% for title, value in data.items()  %}
            {% if title == "title" %}
        <td><a href="{{ url_for('display',type='question', id=data['id']) }}">{{ value }}</a></td>
            {% else %}
            <td> {{ value }} </td>
            {% endif %}
        {% endfor %}
        <td><a href="{{ url_for('delete',type='question', id=data['id'])}}">del</a></td>
    </tr>
        {% endfor %}
</table>

{% endblock %}
