{% extends "layout.html" %}

{% block content %}

<table class="table">
    <tr>
        {% for title in table_titles %}
            <th>{{ title.capitalize() }}</th>
        {% endfor %}
    {% if session["user_rank"] == 0  %}
        <th></th>
    {% endif %}
    </tr>
        {% for data in table_datas %}
    <tr>
        {% for title, value in data.items()  %}
            {% if title == "title" %}
        <td><a href="{{ url_for('display',type='question', id=data['id']) }}">{{ value }}</a></td>
            {% else %}
            <td> {{ value }} </td>
            {% endif %}
        {% endfor %}
        {% if session["user_rank"] == 0 %}
        <td><a href="{{ url_for('delete',type='question', id=data['id'])}}">del</a></td>
        {% endif %}
    </tr>
        {% endfor %}
</table>

{% endblock %}
