<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add-question">add question</a>
<table>
    <tr>
    {% for title in db["headers"] %}
    <th>{{title}}</th>
    {% endfor %}
    </tr>
    {% for row in db["rows"] %}
    <tr>

        {% for key, element in row.items() %}
        {% if key == "title" %}
            <td><a href="/question/?id={{row['id']}}">{{element}}</a></td>
        {% else %}
            <td>{{element}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>